*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 3, 43);
    background-color: rgb(183, 123, 226);
    background-image: url(Circuit\ Board.jpg);

}

header nav{
    display: flex;
    align-items: stretch;
    background-color: rgb(4, 190, 223);
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

}

.header img{
    display: flex;
    width: 300px;
}

nav ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly
}

.hero{
    color: rgb(231, 228, 233);
    display: flex;

}