*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 3, 43);
    background-color: rgb(183, 123, 226);
    background-image: url(Circuit\ Board.jpg);

}

header nav{
   display: flex;
   align-items: stretch;
   background-color: rgb(4, 190, 223);
   flex-direction: row;
   justify-content: space-evenly;

}

.header img{
    display: flex;
    width: 300px;
}

header ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

